.footer {
	margin-top: auto;
	padding-top: var(--sPT);
	padding-bottom: rem(30);
	@include media-breakpoint-down(md) {
		text-align: center;
	}

	&__txt {
		color: #999 !important;
		text-decoration: none;
		font-size: 14px;
		line-height: 1.55;
	}
	&__logo {
		display: inline-block;

		img {
			max-width: 103px;
		}
	}
	&__version {
		display: inline-block;
		img {
			width: 100px;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: rem(20);
			margin-top: rem(30);
		}
	}
	.row {
		@include media-breakpoint-up(xl) {
			@include roww(136px);
		}
	}

	&__rBlock {
		@include media-breakpoint-up(md) {
			text-align: right;
		}
		@include media-breakpoint-down(md) {
			padding-top: rem(20);
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}
