mixin sRequirements(data)
	// start sRequirements
	+b.SECTION.sRequirements.section#sRequirements&attributes(attributes)
		.container
			+b.section-title
				h2 sRequirements
				
			.row
	// end sRequirements