// start .sReviews
.sReviews {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	.swiper-wrapper {
		// overflow: hidden;
	}

	.tabs {
		&__content {
			position: relative;
		}
	}

	.swiper-button-disabled {
		opacity: 0;
	}

	iframe {
		width: 100% !important;
		// height: auto;
	}

	&__video {
		position: relative;
		margin-bottom: rem(10);
		display: inline-block;

		&::before {
			content: "";
			background-image: url("../img/svg/youtube.svg");
			background-size: cover;
			background-repeat: no-repeat;
			width: 40px;
			height: 32px;
			position: absolute;
			@include a-cent;
			opacity: 0.8;
			@include mt;
		}

		&:hover {
			&::before {
				transform: scale(1.1);
			}
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReviews

.txtBlock {
	background-color: #fff;
	padding: rem(70) rem(30) rem(30);
	color: #000;
	height: calc(100% - #{rem(15)});
	margin-bottom: rem(15);
	&__name {
		@extend .mono;
		font-size: 15px;
		margin-bottom: rem(20);
	}
	p {
		margin-bottom: rem(30);
		font-size: 15px;
	}
	&__date {
		font-size: 15px;
	}
}
