// start .sContact
.sContact {
	padding-bottom: var(--sPT);
	&__title {
		color: $primary;
		@extend .h3;
		font-weight: 500;
	}
	&__subtitle {
		@include rfs(34px);
		color: #fff !important;
		text-decoration: none;
		font-weight: 500;
		display: inline-block;
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}
	&__link {
		font-size: rem(22);
		color: #fff !important;
		text-decoration: none;
		line-height: 1.55;
		display: inline-block;
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(30);
		}
	}
	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContact
