:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{14px};
	--header-height: #{rem(84px)};
	@include media-breakpoint-up(md) {
		--fontSizeBase: #{$em-base};
		--sPT: #{rem(125)};
		--sPB: #{rem(10)};
		--sTPB: #{rem(30)};
		--header-height: #{rem(100px)};
	}

	--sPT: #{rem(80 / 2)};
	--sPB: #{rem(90 / 2)};
	--sTPB: #{rem(30 / 2)};

	--swiperArrowSize: #{rem(50)};
	--swiperArrowPosition: calc(-0.6 * var(--swiperArrowSize));
	@media (min-width: 1350px) {
		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) * 1.5);
	}
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;
}

@include media-breakpoint-up(xs) {
}
@include media-breakpoint-between(md, xl) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-down(xs) {
}
