mixin sInstructors(data)
	// start sInstructors
	+b.SECTION.sInstructors.section#sInstructors&attributes(attributes)
		.container
			+e.titleRow.row 
				.col-lg-7
					+b.section-title
						h2 ПРОФЕССИОНАЛЬНЫЕ И ВЕЖЛИВЫЕ ИНСТРУКТОРЫ
				.col 
					.row 
						mixin check(t)
							.col-sm
								.row
									.col-auto.col-xl-12
										+e.check 
											+pic('check-green.png', undefined, 0)
									.col 
										h6!= t
						+check(`Приятные в&nbsp;общении доброжелательные люди`)
						+check(`Мастера вождения с&nbsp;большим опытом`)
						+check(`Индивидуальный подход к&nbsp;каждому ученику`)
			+e.row.row
				mixin instructor(item)
					+e.col.col-sm-6.col-lg-4
						+e.item 
							+e.imgWrap 
								+pic(`instructor-${item.img}.jpg`, undefined, 0)
							+e.textWrap
								+e.name Иван 
									span.text-primary= item.name 
								+e.line Год рождения: 
									strong 1975
								+e.line Стаж вождения: 
									strong 25 лет
								+e.line Специализация: 
									strong АКПП

				+instructor({
					img: '1',
					name: `Иванов`,
				})
				+instructor({
					img: '2',
					name: `Никифоров`,
				})
				+instructor({
					img: '3',
					name: `Петров`,
				})
				+instructor({
					img: '4',
					name: `Иванов`,
				})

	// end sInstructors