mixin sCertificate(data)
	// start sCertificate
	+b.SECTION.sCertificate.section#sCertificate&attributes(attributes)
		.container
			.row
				.col-lg-4
					+b.section-title
						h2 ПОДАРОЧНЫЙ СЕРТИФИКАТ
					h4 Подарочный сертификат на&nbsp;курсы вождения в&nbsp;автошколе &laquo;Фулл Драйв&raquo;- это оригинальный и&nbsp;действительно полезный подарок близким или друзьям!
					strong Выбирай любой удобный номинал Сертификата с&nbsp;шагом в&nbsp;5000&nbsp;р.&nbsp;и&nbsp;жми кнопку &laquo;Заказать&raquo;
					+e.btn.link-modal-js(href="#modal-certificate") КУПИТЬ ПОДАРОЧНЫЙ СЕРТИФИКАТ
					p После оплаты , выбранный сертификат придёт вам на&nbsp;указанную электронную почту, оформленный в&nbsp;подарочном стиле.
				.col 
					+e.imgWrap 
						+pic('certificate-img.png','','')
	// end sCertificate