// start .sCertificate
.sCertificate {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	&__btn {
		@extend .btn;
		@extend .btn-primary;
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(30);
		}
		margin-top: rem(10);
		margin-bottom: rem(10);
	}
	&__imgWrap {
		max-width: rem(600);
		margin-left: auto;
	}

	&__ {
	}
	&__ {
	}
	&__ {
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCertificate
