mixin sCertificate(data)
	// start sCertificate
	+b.SECTION.sCertificate.section#sCertificate&attributes(attributes)
		.container
			+b.section-title
				h2 sCertificate
				
			.row
	// end sCertificate