mixin sMotorcycles(data)
	// start sMotorcycles
	+b.SECTION.sMotorcycles.section#sMotorcycles&attributes(attributes)
		.container
			+b.section-title
				h2 sMotorcycles
				
			.row
	// end sMotorcycles