.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.swiper-button-hand {
	display: grid;
	place-items: center;
	background-color: $primary;

	&:hover {
		background-color: #7ecc4a;
		border-color: #7ecc4a;
	}
	svg {
		// font-size: rem(20);
		width: 11px;
	}
	&-prev {
		svg {
			transform: rotate(180deg);
		}
	}
}
