include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		svg(style='display: block' viewBox='0 0 11.3 21' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
			polyline(fill='none' stroke='#ffffff' stroke-linejoin='butt' stroke-linecap='butt' stroke-width='1' points='0.5,0.5 10.5,10.5 0.5,20.5')

	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		svg(style='display: block' viewBox='0 0 11.3 21' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
			polyline(fill='none' stroke='#ffffff' stroke-linejoin='butt' stroke-linecap='butt' stroke-width='1' points='0.5,0.5 10.5,10.5 0.5,20.5')

//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->