// start .sMap
.sMap {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	position: relative;
	&__bgTxt {
		position: absolute;
		right: -450px;
		top: 400px;
		color: #ffffff;
		font-size: 200px;
		line-height: 1;
		font-weight: 100;
		opacity: 0.02;

		transform: rotate(270deg);
	}
	.section-title {
		&__title {
			font-size: rem(40);
			@include media-breakpoint-up(sm) {
				@include rfs(#{rem(85px)});
			}
			color: $primary;
			font-weight: 700;
		}
	}

	h2 {
		max-width: rem(500);
	}
	&__row {
		padding-bottom: rem(40);
		@include roww(20px);
	}
	&__dot {
		width: rem(37px);
		height: rem(37px);
		border-radius: 50%;
	}
	&__col {
		height: 100%;
	}
	&__map {
		@include media-breakpoint-up(xl) {
			@include block(658, 800);
		}

		@include media-breakpoint-down(xl) {
			margin-bottom: rem(45);
		}
		iframe {
			height: rem(400);
			@include media-breakpoint-up(xl) {
				height: 100%;
				width: 100%;
				@include a-cent;
				position: absolute !important;
			}
		}
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sMap
