mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2 ЧАСТЫЕ 
					span.text-primary ВОПРОСЫ

			mixin item(item)
				+b.accardion--js 
					+e.head--js!= item.title
						+e.iconWrap
							svg.icon(width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
								g(stroke='none' stroke-width='1px' fill='none' fill-rule='evenodd' stroke-linecap='square')
									g(transform='translate(1.000000, 1.000000)' stroke='#ffffff')
										path(d='M0,11 L22,11')
										path(d='M11,0 L11,22')
					+e.content--js!= item.descr
			+item({
				title: `Сколько длится обучение?`,
				descr: `В среднем обучение занимает 1,5-3 мес месяца, скорость освоения материала зависит только от вас. Вы можете быстро все выучить и сдать за 1,5 мес или кропотливо изучать каждый урок растянув обучение до 3 мес. Все с разной скоростью усваивают информацию.<br>Кроме того, вы сами выстраиваете свое расписание. Кто-то может смотреть уроки каждый день, а кто-то раз в неделю. Это тоже влияет на срок обучения.`
			})
			+item({
				title: `Проходят ли экзамены по теории и практики в один день?`,
				descr: `Дa.`
			})
			+item({
				title: `Можно ли сразу сдать теорию, если я все знаю?`,
				descr: `Да. Сдайте экзамен школы по ПДД, а заодно получите скидку 1000 ₽. Затем вы сразу сможете приступить к вождению.`
			})
			+item({
				title: `Поможете ли вы с медицинской комиссией?`,
				descr: `Да, мы поможем собрать и правильно оформить все необходимые документы. Наши сотрудники имеют большой опыт в этом, работают по отлаженной схеме и знают обо всех изменениях и нововведениях. Страх не получить права из-за ошибки в бумагах можно отпустить и забыть.`
			})
			+item({
				title: `Есть ли вечерние курсы и курсы выходного дня?`,
				descr: `Да, есть.`
			})
			+item({
				title: `Какие дополнительные расходы будут, помимо оплаты курсов?`,
				descr: `Дополнительных расходов не будет, в стоимость уже включено: обучение теории, практике, помощь со сбором документов и сопровождение на экзамен в ГИБДД.`
			})
			+item({
				title: `У вас есть лицензия?`,
				descr: `Да, у нас есть Лицензия на образовательную деятельность №275-р от 25.02.2011. Курс подготовки соответствует всем требованиям Департамента Образования и рассчитан на слушателей не имеющих навыков управления автомобилем.`
			})
			+item({
				title: `Можно ли пересдавать экзамен самостоятельно?`,
				descr: `Да, вам лишь необходимо забрать документы из автошколы.`
			})
			+item({
				title: `Буду ли я сдавать экзамен в ГИБДД на том же автомобиле, на котором учился в автошколе?`,
				descr: `Да.`
			})
			+item({
				title: `Если я все знаю, я могу не проходить обучение?`,
				descr: `Конечно! Вы можете не только сразу сдать экзамен, но и получить от нас скидку 1000 руб.`
			})
			+item({
				title: `Мне важна обратная связь от преподавателя`,
				descr: `Вы смотрите интерактивные уроки, в которых понятно и интересно преподносится вся необходимая информация. Если у вас остались вопросы, на них подробно и развернуто ответит преподаватель. Нам важно, чтобы вы полностью освоили всю теорию и правила дорожного движения.`
			})
	// end sQuestions